header
{
    padding:10px;
    @include flex-row-center(space-around);
}

.logo
{
    color: white;
}

nav 
{
    ul 
    {
        @include flex-row-center(space-around);
        li 
        {
            margin-left: 10px;
            margin-right: 10px;
            a
            {
                color: white;
            }
        }
    }
}
