@mixin flex-row-center($justify:center)
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: $justify;
}

@mixin flex-col-center($justify:center)
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: $justify;
}

@mixin blue-button()
{
    @include flex-col-center;
    width:200px;
    height: 40px;
    border-radius: 20px;
    background-color: $color-blue;
}